<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>谈天说地（匿名）</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> 谈天说地（匿名）
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    <!--聊天 block-->
    <div class="msger-chat">

    </div>
    <!--聊天 block-->

    <div class="msger-inputarea">
        <input type="text" class="msger-input" id="msg" placeholder="說点什么吧～">
        <button type="button" id="send" class="msger-send-btn">发送</button>
    </div>
</section>
<script src="assets/js/main.js"></script>
</body>
</html>